@import './swiper-bundle.min.css';

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style-type: none;
}

html,
body {
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

textarea {
    display: block;
    resize: none;
}

body {
    background: url("../items/bac.webp");
    background-repeat: repeat;
    background-size: contain;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

section {
    padding: 30px 0 30px;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    padding: 5px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__link {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.737254902);
    transition: 0.1s linear;
}

.menu__link:hover {
    color: #000;
}

.menu__list {
    display: flex;
    gap: 10px;
}

.logo {
    max-width: 140px;
}

.intro {
    overflow: hidden;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro__img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(40%);
}

.intro__title {
    width: 600px;
    color: #fff;
    font-size: 40px;
    z-index: 1;
    text-align: center;
}

.swiper-slide__img--works {
    max-width: 430px;
    border-radius: 10px;
}

.swiper-intro {
    height: 100vh;
}

.swiper-works {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-width: 870px;
    height: 640px;
}

.swiper-thanks {
    margin: 0 30px;
    border-radius: 10px;
    max-width: 500px;
    height: 650px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 800;
}

.thanks {
    padding: 0 0 20px;
}

.thanks__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks__img {
    max-width: 380px;
}

.thanks__title {
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    max-width: 300px;
    font-size: 30px;
}

.swiper-slide--thanks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__img {
    max-width: 300px;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts__tel a {
    color: #c41b1e;
}

.contacts__soc {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contacts__soc img {
    max-width: 20px;
}

.contacts__point {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1529411765);
}

.footer {
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #c41b1e;
}

#map {
    max-width: 800px;
    margin: 0 auto;
    height: 400px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.about__list {
    display: grid;
    gap: 15px 10px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.about__list-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-width: 350px;
}

.about__list-index {
    color: #fff;
    padding: 10px 15px;
    border-radius: 50%;
    font-weight: 800;
    background-color: #c41b1e;
}

.about__title {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #c41b1e;
    text-align: center;
    font-weight: 800;
    font-size: 27px;
    margin-top: 40px;
}

.menu-burger {
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 4;
}

.menu-burger.active {
    display: block;
}

.menu-burger::before,
.menu-burger::after,
.menu-burger span {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: 0.1s linear;
}

.menu-burger .span--black.menu-burger--open,
.menu-burger.span--black.menu-burger--open::before,
.menu-burger.span--black.menu-burger--open::after {
    background-color: #000;
}

.menu-burger::before {
    top: 0;
}

.menu-burger span {
    top: 49%;
}

.menu-burger::after {
    bottom: 0;
}

.menu-burger--open span {
    display: none;
}

.menu-burger--open::before {
    top: 45%;
    transform: rotate(45deg);
    background-color: #000;
}

.menu-burger--open::after {
    bottom: 45%;
    transform: rotate(-45deg);
    background-color: #000;
}

@media (min-width: 1280px) {
    .menu__link {
        color: rgba(0, 0, 0, 0.737254902);
    }

    .menu__link:hover {
        color: #000;
    }
}

@media (max-width: 1080px) {
    .menu-burger {
        display: block;
    }

    .menu--active {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 2;
    }

    .menu--active .menu__list--active {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .menu__list {
        display: none;
    }
}

@media (max-width: 880px) {
    .swiper-slide__img--works {
        max-width: 350px;
        border-radius: 10px;
    }

    .swiper-works {
        max-width: 700px;
        height: 500px;
    }

    .swiper-thanks {
        max-width: 500px;
        height: 580px;
    }
}

@media (max-width: 830px) {
    .thanks__inner {
        flex-direction: column;
    }

    #map {
        margin: 0 20px 20px;
        height: 300px;
    }
}

@media (max-width: 740px) {
    .swiper-slide-active {
        justify-content: center;
        align-items: center;
    }

    .swiper-slide__img--works {
        max-width: 250px;
        border-radius: 10px;
        margin: 0 auto;
    }

    .swiper-works {
        max-width: 500px;
        height: 360px;
    }
}

@media (max-width: 620px) {
    .contacts__info {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
    }

    .contacts__soc {
        margin: 0 auto;
    }

    .contacts__img {
        display: none;
    }
}

@media (max-width: 580px) {
    .about__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .swiper-works {
        max-width: 500px;
        height: 500px;
    }

    .swiper-works img {
        max-width: 350px;
    }

    .swiper-thanks {
        max-width: 320px;
        height: 400px;
    }

    .swiper-thanks img {
        max-width: 230px;
    }
}